/*
    BREAKPOINTS -1

    --xs: 0px;
    --sm: 575px;
    --md: 767px;
    --lg: 991px;
    --xl: 1199px;
    --xxl: 1399px
*/

:root {
    --primary-color: #198754;
    --dark-green-color: #192921;
    --light-color: #f8f9fa;
    --muted-light-color: #d3d6d3;

    --highlight-bg-color: #1ba163;
    --highlight-text-color: #f8f9fa;
}

::selection {
    background-color: var(--highlight-bg-color);
    color: var(--highlight-text-color);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.navbar {
    z-index: 2;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2em;
}

.nav-pills .active {
    border-radius: 0px;
    color: var(--light-color) !important;
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

/* CUSTOM CLASSES */

/* Button with Icons */
.btn-iconed {
    height: 86px;
    text-align: left;
}

.btn-iconed[class~="text-primary"]:hover {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
}

/* Text Button */
a[class~="btn-link"] {
    width: fit-content;
}

a[class~="btn-link"][class~="text-primary"]:hover {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
}

.bg-muted-light {
    background-color: var(--muted-light-color);
}

#banner-university-photo {
    filter:
        saturate(0.80)
        brightness(1.40)
        contrast(0.70);
}

#careerPaths .card:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.bg-dark-green {
    background-color: var(--dark-green-color);
}

.carousel[class~="enrollment-carousel"] {
    width: 640px;
    height: 640px;
}

@media screen and (max-width: 1199px) {
    .carousel[class~="enrollment-carousel"] {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 575px) {
    .carousel[class~="enrollment-carousel"] {
        width: auto;
        height: auto;
    }
}

.header-news-carousel .carousel-item {
    height: 70vh;
}

.header-news-carousel .carousel-item img {
    object-fit: contain;
    max-width: 60vw;
}

@media screen and (max-width: 991px) {
    .header-news-carousel .carousel-item {
        height: unset;
    }

    .header-news-carousel .carousel-item img {
        max-width: 100%;
        height: auto;
    }
}
