:root {
    --primary-color: #198754;
    --light-color: #f8f9fa;
    --muted-light-color: #d3d6d3;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2em;
}

.text-primary {
    color: var(--primary-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

/* CUSTOM CLASSES */

/* Button with Icons */
.btn-iconed {
    height: 72px;
    text-align: left;
}

.btn-iconed[class~="text-primary"]:hover {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
}

/* Text Button */
a[class~="btn-link"] {
    width: fit-content;
}

a[class~="btn-link"][class~="text-primary"]:hover {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
}

.bg-muted-light {
    background-color: var(--muted-light-color);
}

#banner-university-photo {
    filter:
        saturate(0.80)
        brightness(1.40)
        contrast(0.70);
}

#careerPaths .card:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}
